.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.racer {
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  padding: 10px;
  margin: 10px;
  border: 0.5px solid rgb(66, 66, 66);
  width: 7%;
  height: 10%;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.button {
  background-color: rgb(130, 185, 125);
  border-radius: 5%;
  padding: 10px;
  margin: 10px;
  border: 0.5px solid rgb(66, 66, 66);
  width: 7%;
  height: 10%;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: black;
}

.button:hover {
  /* Hover transition */
  background-color: rgb(102, 168, 96);
  transition: 0.5s;
}
